@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Blk.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2"), url("../fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-BdIt.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BdIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-It.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-MdIt.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdIt.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/HelveticaNeueLTStd-Th.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Th.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/* line 122, ../sass/style.scss */
body {
  background-color: #ffffff;
  color: #535456;
  margin: 0;
  font-family: 'Helvetica Neue';
  font-weight: normal;
  font-style: normal;
}

/* line 131, ../sass/style.scss */
.left {
  float: left !important;
}

/* line 135, ../sass/style.scss */
.right {
  float: right !important;
}

/* line 139, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 143, ../sass/style.scss */
h1 {
  margin: 0 0 25px;
}

/* line 147, ../sass/style.scss */
h2 {
  margin: 0 0 30px;
  font-size: 35px;
  font-weight: 300;
  color: #009d93;
}
/* line 152, ../sass/style.scss */
h2.title-section {
  margin: 0 0 21px;
  font-size: 30px;
  line-height: normal;
}

/* line 159, ../sass/style.scss */
h3 {
  font-size: 40px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  color: #000000;
  line-height: 1.3;
  margin: 0 0 25px;
}

/* line 168, ../sass/style.scss */
p {
  margin: 0 0 25px;
  font-family: 'Helvetica Neue';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.41;
  color: #000000;
}

/* line 179, ../sass/style.scss */
.badge {
  white-space: normal;
}

/* line 183, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 187, ../sass/style.scss */
.big-content {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
}

/* line 194, ../sass/style.scss */
.container {
  max-width: 1235px;
  position: relative;
  z-index: 2;
}

/* line 200, ../sass/style.scss */
.container-fluid {
  position: relative;
  z-index: 2;
}

/* line 205, ../sass/style.scss */
.badge-primary {
  background-color: #0ba499;
  color: #ffffff;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 10px 7px;
  margin-bottom: 16px;
}

/* line 218, ../sass/style.scss */
aside.more .btn-primary {
  color: #fff;
  border-radius: 4px;
  background-color: #009d93;
  border-color: transparent;
  font-size: 17px;
  font-weight: normal;
  padding: 0.5rem 3rem;
}

/* line 229, ../sass/style.scss */
.header-top {
  position: relative;
  background-color: #00a499;
  padding: 50px 15px 0;
}
/* line 233, ../sass/style.scss */
.header-top .container-fluid {
  position: relative;
  max-width: 1235px;
}
/* line 237, ../sass/style.scss */
.header-top::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 47px;
  background-color: #fff;
}
/* line 246, ../sass/style.scss */
.header-top .couv-top {
  margin: 5px 0 -13px;
}
/* line 250, ../sass/style.scss */
.header-top .letter .alert-link {
  color: #00a499;
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
  margin-top: 11px;
}
/* line 258, ../sass/style.scss */
.header-top .logo-titre {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0px;
  margin: 20px 0 24px;
}
/* line 265, ../sass/style.scss */
.header-top .logo {
  position: relative;
}
/* line 267, ../sass/style.scss */
.header-top .logo img {
  width: 727px;
}
/* line 271, ../sass/style.scss */
.header-top .form-group {
  margin: 10;
}
/* line 273, ../sass/style.scss */
.header-top .form-group input[type=text] {
  width: 235px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #00a499;
  border: solid 0.5px transparent;
  font-size: 14px;
  background-image: url(../images/search-icon.png);
  background-position: 200px 4px;
  padding: 6px 40px 6px 10px;
  background-repeat: no-repeat;
  color: #ffffff;
  box-shadow: none;
  border-bottom: 1px solid #ffffff;
}
/* line 287, ../sass/style.scss */
.header-top .form-group input[type=text]::-webkit-input-placeholder {
  color: #ffffff;
}

/* line 294, ../sass/style.scss */
.navbar {
  padding: 0;
  margin: 43px 0 0;
}
/* line 297, ../sass/style.scss */
.navbar .nav-menu {
  width: 100%;
}
/* line 299, ../sass/style.scss */
.navbar .nav-menu .nav-link {
  vertical-align: middle;
  width: 1%;
  font-size: 15px;
  font-weight: normal;
  color: #000000;
  border-bottom: solid 6px #000000;
  border-radius: 0;
  margin: 0 8px;
  padding: 0 0 15px;
  line-height: 1.3;
}
/* line 310, ../sass/style.scss */
.navbar .nav-menu .nav-link:hover {
  color: #009d93;
  font-weight: bold;
  border-bottom: solid 6px #00a499;
}

/* line 319, ../sass/style.scss */
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin: 88px 0 62px;
}
/* line 324, ../sass/style.scss */
.breadcrumb li a {
  color: #7f7f7f;
  font-size: 13px;
}
/* line 329, ../sass/style.scss */
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: ">";
}

/* line 337, ../sass/style.scss */
.esp-120 {
  margin: 0 -30px;
}
/* line 339, ../sass/style.scss */
.esp-120 > * {
  padding: 0 30px;
}

/* line 344, ../sass/style.scss */
.jumbotron {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 45px;
}
/* line 350, ../sass/style.scss */
.jumbotron p {
  max-width: 684px;
}
/* line 354, ../sass/style.scss */
.jumbotron .main-left h3 {
  border-bottom: 5px solid #0ba499;
  padding-bottom: 20px;
  line-height: 1;
}
/* line 359, ../sass/style.scss */
.jumbotron .main-left .btn-post {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* line 368, ../sass/style.scss */
.btn-ajout {
  background-color: #f4f4f4;
  border: solid 1px #e1e1e1;
  color: #a6a6a6;
  padding: 5px 15px;
  border-radius: 3px;
  margin-bottom: 6px;
}
/* line 375, ../sass/style.scss */
.btn-ajout:hover {
  background-color: #f4f4f4;
  border: solid 1px #e1e1e1;
  color: #a6a6a6;
}

/* line 382, ../sass/style.scss */
article.item-view {
  position: relative;
  padding: 15px;
  margin: 0 auto 60px;
}
/* line 386, ../sass/style.scss */
article.item-view::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  border: solid 1px #e1e1e1;
  z-index: 0;
}
/* line 398, ../sass/style.scss */
article.item-view::after {
  content: "\f02e";
  font-family: 'FontAwesome';
  right: 15px;
  position: absolute;
  top: -8px;
  color: #a6a6a6;
  font-size: 25px;
}
/* line 407, ../sass/style.scss */
article.item-view:hover {
  position: relative;
}
/* line 409, ../sass/style.scss */
article.item-view:hover::after {
  content: "\f02e";
  font-family: 'FontAwesome';
  right: 15px;
  position: absolute;
  top: -8px;
  color: #0ba499;
  font-size: 25px;
}
/* line 419, ../sass/style.scss */
article.item-view h3 {
  font-size: 25px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  color: #000000;
  line-height: 1.3;
  margin: 0 15px 15px 0;
  border-bottom: 4px solid #0ba499;
  padding-bottom: 15px;
}
/* line 428, ../sass/style.scss */
article.item-view h3 a {
  color: inherit;
  text-decoration: none;
}
/* line 433, ../sass/style.scss */
article.item-view .blog-post-meta {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #a6a6a6;
  margin: 0 0 15px;
}
/* line 440, ../sass/style.scss */
article.item-view .blog-post-meta a {
  color: inherit;
}
/* line 444, ../sass/style.scss */
article.item-view .btn-post {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* line 453, ../sass/style.scss */
article.view-article h3 {
  font-size: 21px;
  margin: 0 0 20px;
  padding-bottom: 15px;
}
/* line 458, ../sass/style.scss */
article.view-article p {
  font-size: 16px;
  margin: 0 0 15px;
}

/* line 464, ../sass/style.scss */
.blog-post-meta {
  font-family: 'Helvetica Neue';
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #a6a6a6;
}
/* line 470, ../sass/style.scss */
.blog-post-meta a {
  color: inherit;
}

/* line 476, ../sass/style.scss */
#doss .item-doss {
  border-radius: 3px;
  background-color: #f4f4f4;
  color: #000000;
  margin: 0 15px;
  position: relative;
}
/* line 482, ../sass/style.scss */
#doss .item-doss:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #f4f4f4;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  border: solid 1px #e1e1e1;
}
/* line 494, ../sass/style.scss */
#doss .item-doss:hover:before {
  border-color: #0ba499;
}
/* line 498, ../sass/style.scss */
#doss .item-doss a {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  color: #000000;
  font-family: 'Helvetica Neue LT Std';
  line-height: 1.1;
  padding: 50px 15px;
}
/* line 509, ../sass/style.scss */
#doss .item-doss a:hover {
  color: #0ba499;
  text-decoration: none;
}

/* line 517, ../sass/style.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 522, ../sass/style.scss */
.item-list .bg-left {
  background-color: #0ba499;
  height: 100%;
  padding-top: 100px;
  position: relative;
}
/* line 527, ../sass/style.scss */
.item-list .bg-left:before {
  content: "";
  position: absolute;
  left: -99%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #0ba499;
}
/* line 537, ../sass/style.scss */
.item-list .bg-left .list-group .list-group-item {
  position: relative;
  display: block;
  padding: 0 0 12px;
  margin-bottom: 22px;
  background-color: transparent;
  font-weight: 900;
  font-style: normal;
  font-family: 'Helvetica Neue LT Std';
  color: #54bfb7;
  border: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  font-size: 27px;
  text-align: left;
}
/* line 552, ../sass/style.scss */
.item-list .bg-left .list-group .list-group-item:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
}
/* line 561, ../sass/style.scss */
.item-list .bg-right h2 {
  padding-top: 84px;
}
/* line 564, ../sass/style.scss */
.item-list .bg-right .item-more {
  width: 100%;
  max-width: 420px;
  padding: 0;
  margin: 5px auto 111px;
}
/* line 569, ../sass/style.scss */
.item-list .bg-right .item-more .btn-primary {
  border-radius: 4px;
  background-color: #009d93;
  border-color: transparent;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 95px;
  padding: 10px 50px;
}

/* line 583, ../sass/style.scss */
.item-list-edit .bg-left-edit {
  background-color: #3a6b96;
}
/* line 585, ../sass/style.scss */
.item-list-edit .bg-left-edit::before {
  background-color: #3a6b96;
}
/* line 589, ../sass/style.scss */
.item-list-edit .bg-left-edit .list-group .list-group-item {
  color: #7496b4;
  border-bottom: 1px solid transparent;
}
/* line 592, ../sass/style.scss */
.item-list-edit .bg-left-edit .list-group .list-group-item:hover {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #acc0d2;
}
/* line 602, ../sass/style.scss */
.item-list-edit .bg-right-edit .badge-primary {
  background-color: #3a6b96;
  color: #ffffff;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 0;
  margin: 100px 0 50px;
}
/* line 613, ../sass/style.scss */
.item-list-edit .bg-right-edit .item-view h3 {
  border-bottom: 4px solid #3a6b96;
}
/* line 617, ../sass/style.scss */
.item-list-edit .bg-right-edit .item-view:hover::after {
  color: #3a6b96 !important;
}
/* line 622, ../sass/style.scss */
.item-list-edit .bg-right-edit .item-more {
  width: 100%;
  max-width: 420px;
  padding: 0;
  margin: auto;
}
/* line 627, ../sass/style.scss */
.item-list-edit .bg-right-edit .item-more .btn-primary {
  border-radius: 4px;
  background-color: #3a6b96;
  border-color: transparent;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 300px;
}

/* line 639, ../sass/style.scss */
.bloc-link {
  background-color: #f6f6f6;
  padding: 47px 0 60px;
}
/* line 642, ../sass/style.scss */
.bloc-link h2 {
  margin: 0 0 47px;
}
/* line 645, ../sass/style.scss */
.bloc-link .p-link {
  list-style-type: none;
  display: list-item;
  font-size: 16px;
  font-family: 'Helvetica Neue LT Std';
  font-weight: 900;
  color: #000000;
  line-height: 1.56;
}
/* line 653, ../sass/style.scss */
.bloc-link .p-link::before {
  content: '\2022';
  color: #0ba499;
  padding-right: 0.5em;
}

/* line 661, ../sass/style.scss */
section.newsletter {
  background-color: #00a499;
  position: relative;
  padding: 60px 0 68px;
}
/* line 665, ../sass/style.scss */
section.newsletter h2 {
  margin: 0 0 19px;
  font-family: 'Helvetica Neue';
  font-size: 49px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: #ffffff;
}
/* line 674, ../sass/style.scss */
section.newsletter p {
  color: #ffffff;
  margin: 0 0 37px;
}
/* line 678, ../sass/style.scss */
section.newsletter .form-signin {
  width: 100%;
  max-width: 485px;
  padding: 0;
  margin: auto;
}
/* line 683, ../sass/style.scss */
section.newsletter .form-signin .input-group {
  height: 50px;
}
/* line 686, ../sass/style.scss */
section.newsletter .form-signin .btn-secondary {
  color: #00a499;
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}
/* line 693, ../sass/style.scss */
section.newsletter .form-signin input.form-control {
  color: #ffffff;
  background-color: #00a499;
  border: 2px solid #ffffff;
  border-left: none;
}
/* line 698, ../sass/style.scss */
section.newsletter .form-signin input.form-control::-webkit-input-placeholder {
  color: #ffffff;
}
/* line 701, ../sass/style.scss */
section.newsletter .form-signin input.form-control:-moz-placeholder {
  color: #ffffff;
}
/* line 704, ../sass/style.scss */
section.newsletter .form-signin input.form-control::-moz-placeholder {
  color: #ffffff;
}
/* line 707, ../sass/style.scss */
section.newsletter .form-signin input.form-control:-ms-input-placeholder {
  color: #ffffff;
}
/* line 711, ../sass/style.scss */
section.newsletter .form-signin .input-group-text {
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #00a499;
  border: 2px solid #ffffff;
  border-right: none;
}

/* line 721, ../sass/style.scss */
footer.bloc {
  border-top: 5px solid #00a499;
}

/* line 725, ../sass/style.scss */
footer {
  background-color: #f6f6f6;
}
/* line 727, ../sass/style.scss */
footer h3 {
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 35px;
}
/* line 738, ../sass/style.scss */
footer .list ul li a {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}
/* line 743, ../sass/style.scss */
footer .list ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}
/* line 751, ../sass/style.scss */
footer .list-1 {
  border-right: 1px solid #dbdbdb;
}
/* line 754, ../sass/style.scss */
footer .list-1 ul li {
  list-style-type: disc;
}
/* line 759, ../sass/style.scss */
footer .list-2 {
  border-right: 1px solid #dbdbdb;
  padding-left: 35px;
}
/* line 763, ../sass/style.scss */
footer .list-2 ul li {
  margin-bottom: 10px;
}
/* line 768, ../sass/style.scss */
footer .list-3 {
  padding-left: 35px;
}
/* line 771, ../sass/style.scss */
footer .list-3 ul li {
  margin-bottom: 10px;
}

/* line 778, ../sass/style.scss */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* line 788, ../sass/style.scss */
#main {
  margin-top: 60px;
}

/* line 792, ../sass/style.scss */
.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 1200px) {
  /* line 4, ../sass/_lg.scss */
  #main {
    margin-top: 100px;
    margin-bottom: 88px;
  }

  /* line 9, ../sass/_lg.scss */
  .cust-col-47 {
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
  }

  /* line 15, ../sass/_lg.scss */
  .cust-col-53 {
    -ms-flex: 0 0 53%;
    flex: 0 0 53%;
    max-width: 53%;
  }

  /* line 22, ../sass/_lg.scss */
  .esp-120 {
    margin: 0 -60px;
  }
  /* line 24, ../sass/_lg.scss */
  .esp-120 > * {
    padding: 0 60px;
  }

  /* line 28, ../sass/_lg.scss */
  .esp-92 {
    margin: 0 -46px;
  }
  /* line 30, ../sass/_lg.scss */
  .esp-92 > * {
    padding: 0 46px;
  }

  /* line 35, ../sass/_lg.scss */
  #doss {
    margin: 0 -24px;
  }
  /* line 37, ../sass/_lg.scss */
  #doss > .item-doss {
    margin: 0 24px;
  }

  /* line 44, ../sass/_lg.scss */
  .item-list .bg-left .list-group .list-group-item {
    padding-left: 25px;
    margin-left: -25px;
  }
}
@media (max-width: 1260px) {
  /* line 56, ../sass/_lg.scss */
  .item-list .bg-left .list-group {
    padding-left: 25px;
  }
}
@media (max-width: 1420px) {
  /* line 66, ../sass/_lg.scss */
  .header-top .logo img {
    width: 715px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  /* line 76, ../sass/_lg.scss */
  .header-top .logo img {
    width: 600px;
  }
  /* line 80, ../sass/_lg.scss */
  .header-top::after {
    height: 39px;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  /* line 89, ../sass/_lg.scss */
  .header-top .form-group input[type=text] {
    width: 200px !important;
    background-position: 167px 3px;
    padding: 6px 40px 6px 10px;
  }
}
@media (max-width: 1199px) {
  /* line 2, ../sass/_md.scss */
  #main {
    margin-top: 100px;
    margin-bottom: 88px;
  }

  /* line 6, ../sass/_md.scss */
  .item-list .bg-left .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 0 0 12px;
    margin-bottom: 22px;
    padding-left: 25px;
    width: 97%;
  }

  /* line 14, ../sass/_md.scss */
  .item-list .bg-left .list-group {
    padding-left: 0;
  }
}
@media (min-width: 1050px) and (max-width: 1199px) {
  /* line 22, ../sass/_md.scss */
  .header-top .logo img {
    width: 530px !important;
  }
  /* line 26, ../sass/_md.scss */
  .header-top::after {
    height: 35px;
  }
  /* line 30, ../sass/_md.scss */
  .header-top .form-group input[type=text] {
    width: 182px;
    background-position: 151px 3px;
    padding: 6px 40px 6px 10px;
  }
}
@media (max-width: 1050px) {
  /* line 39, ../sass/_md.scss */
  h3 {
    font-size: 35px;
  }

  /* line 45, ../sass/_md.scss */
  .item-list .bg-left .list-group {
    padding-left: 0;
  }
  /* line 47, ../sass/_md.scss */
  .item-list .bg-left .list-group .list-group-item {
    padding: .75rem 0;
    font-size: 20px;
    padding-left: 25px;
    width: 95%;
    margin-bottom: 5px;
  }

  /* line 58, ../sass/_md.scss */
  #doss .item-doss {
    margin: 0 15px 25px;
  }
}
@media (min-width: 992px) and (max-width: 1050px) {
  /* line 66, ../sass/_md.scss */
  .header-top .form-group input[type=text] {
    width: 165px;
    background-position: 132px 3px;
    padding: 6px 40px 6px 10px;
  }
}
@media (min-width: 768px) {
  /* line 2, ../sass/_sm.scss */
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
@media (max-width: 991px) {
  /* line 13, ../sass/_sm.scss */
  .header-top .form-group input[type=text] {
    width: 157px;
    background-position: 127px 4px;
    padding: 6px 40px 6px 10px;
  }
  /* line 19, ../sass/_sm.scss */
  .header-top .user-btn {
    margin-top: 5px;
  }

  /* line 23, ../sass/_sm.scss */
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 991px) and (max-width: 1050px) {
  /* line 31, ../sass/_sm.scss */
  .header-top .logo img {
    width: 405px !important;
  }
  /* line 35, ../sass/_sm.scss */
  .header-top::after {
    height: 27px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 44, ../sass/_sm.scss */
  .header-top .logo img {
    width: 405px !important;
  }
  /* line 48, ../sass/_sm.scss */
  .header-top::after {
    height: 27px;
  }
  /* line 51, ../sass/_sm.scss */
  .header-top .logo-titre {
    margin: 10px auto 30px;
    width: 60%;
  }

  /* line 58, ../sass/_sm.scss */
  .navbar .nav-menu .nav-link {
    font-size: 13px;
    margin: 0px 5px;
    padding: 0 0 10px;
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/_xs.scss */
  h2 {
    font-size: 25px;
  }

  /* line 5, ../sass/_xs.scss */
  h3 {
    font-size: 18px !important;
    margin: 0 0 19px !important;
    padding-bottom: 13px !important;
    line-height: 1.28 !important;
    border-bottom: 3px solid #0ba499 !important;
  }

  /* line 12, ../sass/_xs.scss */
  p {
    font-size: 12px !important;
    margin: 0 0 14px !important;
    line-height: 1.67 !important;
  }

  /* line 17, ../sass/_xs.scss */
  article.item-view {
    position: relative;
    padding: 15px 20px;
    margin: 0 auto 30px;
  }

  /* line 22, ../sass/_xs.scss */
  .badge-primary {
    font-size: 15px;
    padding: 7px 10px;
  }

  /* line 26, ../sass/_xs.scss */
  .content-edit {
    padding: 0 15px;
  }

  /* line 29, ../sass/_xs.scss */
  .btn {
    white-space: normal;
  }

  /* line 32, ../sass/_xs.scss */
  .header-top .user-btn {
    margin-top: 0;
  }

  /* line 35, ../sass/_xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 38, ../sass/_xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 415px !important;
    margin-top: 20px;
  }
  /* line 44, ../sass/_xs.scss */
  .header-top::after {
    height: 67px;
  }
  /* line 47, ../sass/_xs.scss */
  .header-top .form-group {
    display: none;
  }
  /* line 50, ../sass/_xs.scss */
  .header-top .logo-titre {
    color: #7f7f7f;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 5px;
  }

  /* line 59, ../sass/_xs.scss */
  .item-list .bg-right .item-more {
    width: 100%;
    max-width: 420px;
    padding: 0;
    margin: 5px auto 0;
  }
  /* line 64, ../sass/_xs.scss */
  .item-list .bg-right .item-more .btn-primary {
    margin-bottom: 66px;
  }

  /* line 72, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .item-more {
    margin: 68px auto 0;
  }
  /* line 74, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .item-more .btn-primary {
    margin-bottom: 53px;
  }

  /* line 80, ../sass/_xs.scss */
  aside.item-more.text-center img {
    display: none;
  }

  /* line 83, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .badge-primary {
    margin: 0 0 45px;
  }

  /* line 86, ../sass/_xs.scss */
  .navbar {
    margin: 0 !important;
  }
  /* line 89, ../sass/_xs.scss */
  .navbar .nav-menu .nav-link {
    vertical-align: middle;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    border-bottom: solid 4px #000000;
    border-radius: 0;
    margin: 0 auto 15px;
    padding: 5px 0;
    text-align: center;
  }

  /* line 105, ../sass/_xs.scss */
  section.newsletter h2 {
    margin: 0 0 30px;
    font-family: 'Helvetica Neue';
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
  }

  /* line 115, ../sass/_xs.scss */
  .item-list .bg-right .item-view h3 {
    font-size: 18px;
    margin: 0 0 15px;
    padding-bottom: 15px;
  }

  /* line 120, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .item-view h3 {
    font-size: 18px;
    margin: 0 0 15px;
    padding-bottom: 15px;
  }

  /* line 125, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .badge-primary {
    font-size: 20px;
    padding: 10px 0;
    width: 100%;
    line-height: 1.2;
  }

  /* line 131, ../sass/_xs.scss */
  .item-list-edit .bg-right-edit .item-more .btn {
    white-space: normal;
  }

  /* line 134, ../sass/_xs.scss */
  .bloc-link {
    padding: 35px 20px !important;
    margin: 0;
  }
  /* line 137, ../sass/_xs.scss */
  .bloc-link .p-link {
    line-height: 1.33 !important;
    font-size: 15px !important;
  }
  /* line 141, ../sass/_xs.scss */
  .bloc-link .col-md-6 {
    margin-bottom: 25px;
  }

  /* line 145, ../sass/_xs.scss */
  section.newsletter {
    text-align: left !important;
    padding: 30px 35px !important;
  }
  /* line 148, ../sass/_xs.scss */
  section.newsletter h2 {
    margin: 0 0 20px;
  }
  /* line 151, ../sass/_xs.scss */
  section.newsletter p {
    font-size: 15px !important;
    margin: 0 0 21px !important;
    line-height: normal !important;
  }
  /* line 156, ../sass/_xs.scss */
  section.newsletter .form-signin {
    margin: 0 auto 75px;
  }
  /* line 158, ../sass/_xs.scss */
  section.newsletter .form-signin input.form-control {
    border-radius: 3px;
    height: 60px;
  }
  /* line 162, ../sass/_xs.scss */
  section.newsletter .form-signin .input-group-append {
    margin-left: 0;
    width: 100%;
    margin-top: 23px;
  }
  /* line 167, ../sass/_xs.scss */
  section.newsletter .form-signin .btn-secondary {
    font-size: 20px;
    margin: 0 auto;
    display: table;
    border-radius: 3px;
    padding: 7px 20px;
  }

  /* line 176, ../sass/_xs.scss */
  footer h3 {
    border-bottom: none !important;
  }

  /* line 181, ../sass/_xs.scss */
  #doss .item-doss a {
    font-size: 15px;
  }

  /* line 186, ../sass/_xs.scss */
  .main-right {
    display: flex !important;
  }

  /* line 190, ../sass/_xs.scss */
  .item-list .bg-right {
    margin-top: 25px;
  }

  /* line 194, ../sass/_xs.scss */
  .navbar-toggler {
    color: #f6f6f6;
  }

  /* line 197, ../sass/_xs.scss */
  main.container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /* line 201, ../sass/_xs.scss */
  .xs-mod {
    max-width: 10% !important;
  }

  /* line 204, ../sass/_xs.scss */
  .mod {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }

  /* line 208, ../sass/_xs.scss */
  footer .list {
    margin-bottom: 30px;
    border: none;
  }

  /* line 212, ../sass/_xs.scss */
  .bottom-content {
    padding: 0;
  }

  /* line 215, ../sass/_xs.scss */
  main.container-fluid .jumbotron .main-left .p-btn-post {
    margin: 25px 0 !important;
  }

  /* line 218, ../sass/_xs.scss */
  .breadcrumb {
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 0;
  }

  /* line 223, ../sass/_xs.scss */
  .main-right {
    margin-top: 35px !important;
  }

  /* line 226, ../sass/_xs.scss */
  .item-list .bg-right h2 {
    padding-top: 0;
  }
}
/* -------------------------- */
@media (max-width: 608px) {
  /* line 235, ../sass/_xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 238, ../sass/_xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 415px !important;
    margin-top: 35px;
  }
  /* line 244, ../sass/_xs.scss */
  .header-top::after {
    height: 87px;
  }
}
@media (max-width: 575px) {
  /* line 251, ../sass/_xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 254, ../sass/_xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 315px !important;
    margin-top: 35px;
  }
  /* line 260, ../sass/_xs.scss */
  .header-top::after {
    height: 81px;
  }
}
@media (max-width: 435px) {
  /* line 267, ../sass/_xs.scss */
  .header-top {
    padding: 25px 0 0;
  }
  /* line 270, ../sass/_xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 230px !important;
    margin-top: 35px;
  }
  /* line 276, ../sass/_xs.scss */
  .header-top::after {
    height: 95px;
  }

  /* line 280, ../sass/_xs.scss */
  .xs-mod {
    max-width: 10% !important;
  }

  /* line 283, ../sass/_xs.scss */
  .navbar-toggler {
    position: absolute;
    top: 0;
    left: 15px;
  }
}
@media (min-width: 353px) and (max-width: 435px) {
  /* line 292, ../sass/_xs.scss */
  .header-top::after {
    height: 76px;
  }
}
@media (max-width: 310px) {
  /* line 300, ../sass/_xs.scss */
  .header-top .user-btn {
    display: none;
  }
}
