@media (max-width: 767px) {
  /* line 2, ../sass/xs.scss */
  h2 {
    font-size: 25px;
  }

  /* line 5, ../sass/xs.scss */
  h3 {
    font-size: 18px !important;
    margin: 0 0 25px;
  }

  /* line 9, ../sass/xs.scss */
  p {
    font-size: 12px;
  }

  /* line 12, ../sass/xs.scss */
  .badge-primary {
    font-size: 15px;
    padding: 7px 10px;
  }

  /* line 16, ../sass/xs.scss */
  .content-edit {
    padding: 0 15px;
  }

  /* line 19, ../sass/xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 22, ../sass/xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 415px !important;
    margin-top: 35px;
  }
  /* line 28, ../sass/xs.scss */
  .header-top::after {
    height: 97px;
  }
  /* line 31, ../sass/xs.scss */
  .header-top .form-group {
    display: none;
  }
  /* line 34, ../sass/xs.scss */
  .header-top .logo-titre {
    color: #7f7f7f;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 5px;
  }

  /* line 40, ../sass/xs.scss */
  .navbar {
    margin: 0 !important;
  }
  /* line 43, ../sass/xs.scss */
  .navbar .nav-menu .nav-link {
    vertical-align: middle;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    border-bottom: solid 4px #000000;
    border-radius: 0;
    margin: 0 auto 15px;
    padding: 5px 0;
    text-align: center;
  }

  /* line 58, ../sass/xs.scss */
  section.newsletter h2 {
    margin: 0 0 30px;
    font-family: 'Helvetica Neue';
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    color: #ffffff;
  }

  /* line 68, ../sass/xs.scss */
  .item-list .bg-right .item-view h3 {
    font-size: 18px;
    margin: 0 0 15px;
    padding-bottom: 15px;
  }

  /* line 73, ../sass/xs.scss */
  .item-list-edit .bg-right-edit .item-view h3 {
    font-size: 18px;
    margin: 0 0 15px;
    padding-bottom: 15px;
  }

  /* line 78, ../sass/xs.scss */
  .item-list-edit .bg-right-edit .badge-primary {
    font-size: 20px;
    padding: 10px 0;
    width: 100%;
    line-height: 1.2;
  }

  /* line 84, ../sass/xs.scss */
  .bloc-link {
    padding: 35px !important;
    margin: 0;
  }

  /* line 88, ../sass/xs.scss */
  section.newsletter {
    text-align: left !important;
    padding: 2rem !important;
  }
  /* line 91, ../sass/xs.scss */
  section.newsletter h2 {
    margin: 0 0 20px;
  }
  /* line 94, ../sass/xs.scss */
  section.newsletter p {
    margin: 0 0 10px;
  }
  /* line 97, ../sass/xs.scss */
  section.newsletter .form-signin {
    margin: 0 auto 75px;
  }
  /* line 99, ../sass/xs.scss */
  section.newsletter .form-signin input.form-control {
    border-radius: 3px;
    height: 60px;
  }
  /* line 103, ../sass/xs.scss */
  section.newsletter .form-signin .input-group-append {
    margin-left: 0;
    width: 100%;
    margin-top: 30px;
  }
  /* line 108, ../sass/xs.scss */
  section.newsletter .form-signin .btn-secondary {
    font-size: 20px;
    margin: 0 auto;
    display: table;
    border-radius: 3px;
    padding: 7px 20px;
  }

  /* line 119, ../sass/xs.scss */
  #doss .item-doss a {
    font-size: 15px;
  }

  /* line 124, ../sass/xs.scss */
  .main-right {
    display: flex !important;
  }

  /* line 128, ../sass/xs.scss */
  .item-list .bg-right {
    margin-top: 25px;
  }

  /* line 132, ../sass/xs.scss */
  .navbar-toggler {
    color: #f6f6f6;
  }

  /* line 135, ../sass/xs.scss */
  main.container-fluid {
    margin-top: 0 !important;
  }

  /* line 138, ../sass/xs.scss */
  .xs-mod {
    max-width: 10% !important;
  }

  /* line 141, ../sass/xs.scss */
  .mod {
    flex: 0 0 80% !important;
    max-width: 80% !important;
  }

  /* line 145, ../sass/xs.scss */
  footer .list {
    margin-bottom: 30px;
    border: none;
  }

  /* line 149, ../sass/xs.scss */
  .bottom-content {
    padding: 0;
  }

  /* line 152, ../sass/xs.scss */
  main.container-fluid .jumbotron .main-left .p-btn-post {
    margin: 25px 0 !important;
  }

  /* line 155, ../sass/xs.scss */
  .breadcrumb {
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 0;
  }

  /* line 160, ../sass/xs.scss */
  main.container {
    margin-top: 0 !important;
  }

  /* line 163, ../sass/xs.scss */
  .main-right {
    margin-top: 35px !important;
  }
}
/* -------------------------- */
@media (max-width: 607px) {
  /* line 172, ../sass/xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 175, ../sass/xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 415px !important;
    margin-top: 35px;
  }
  /* line 181, ../sass/xs.scss */
  .header-top::after {
    height: 117px;
  }
}
@media (max-width: 575px) {
  /* line 188, ../sass/xs.scss */
  .header-top {
    padding: 35px 15px 0;
  }
  /* line 191, ../sass/xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 315px !important;
    margin-top: 35px;
  }
  /* line 197, ../sass/xs.scss */
  .header-top::after {
    height: 110px;
  }
}
@media (max-width: 435px) {
  /* line 204, ../sass/xs.scss */
  .header-top {
    padding: 25px 0 0;
  }
  /* line 207, ../sass/xs.scss */
  .header-top .logo img {
    max-width: 100% !important;
    width: 230px !important;
    margin-top: 35px;
  }
  /* line 213, ../sass/xs.scss */
  .header-top::after {
    height: 125px;
  }

  /* line 217, ../sass/xs.scss */
  .xs-mod {
    max-width: 10% !important;
  }

  /* line 220, ../sass/xs.scss */
  .navbar-toggler {
    position: absolute;
    top: 0;
    left: 15px;
  }
}
@media (min-width: 353px) and (max-width: 435px) {
  /* line 229, ../sass/xs.scss */
  .header-top::after {
    height: 105px;
  }
}
