@media (max-width: 1199px) {
   #main {
      margin-top: 100px;
      margin-bottom: 88px;
   }
   .item-list .bg-left .list-group .list-group-item {
      position: relative;
      display: block;
      padding: 0 0 12px;
      margin-bottom: 22px;
      padding-left: 25px;
      width: 97%;
   }
   .item-list .bg-left .list-group {
      padding-left: 0;
   }
   .item-list .bg-abonner {
      padding-right: 15px;
   }
}

@media (min-width: 1050px) and (max-width: 1199px) {
   .header-top {
      .logo {
         img {
            width: 530px !important;
         }
      }
      &::after {
         height: 35px;
      }
      .form-group {
         input[type=text] {
            width: 182px;
            background-position: 151px 3px;
            padding: 6px 40px 6px 10px;
         }
      }
   }
}

@media (max-width: 1050px) {
   h3 {
      font-size: 35px;
   }
   .item-list {
      .bg-left {
         .list-group {
            padding-left: 0;
            .list-group-item {
               padding: .75rem 0;
               font-size: 20px;
               padding-left: 25px;
               width: 95%;
               margin-bottom: 5px;
            }
         }
      }
   }
   #doss .item-doss {
      margin: 0 15px 25px;
   }
}

@media (min-width: 992px) and (max-width: 1050px) {
   .header-top {
      .form-group {
         input[type=text] {
            width: 165px;
            background-position: 132px 3px;
            padding: 6px 40px 6px 10px;
         }
      }
   }
}
