@media (min-width: 768px) {
   .navbar-collapse.collapse {
      display: block!important;
      height: auto!important;
      padding-bottom: 0;
      overflow: visible!important;
   }
   .bg-formulaire {
      .form-control {
         &::-webkit-input-placeholder {
            color: #f6f6f6;
         }
         &:-moz-placeholder {
            color: #f6f6f6;
         }
         &::-moz-placeholder {
            color: #f6f6f6;
         }
         &:-ms-input-placeholder {
            color: #f6f6f6;
         }
      }
   }
   .bloc-form-info {
      .bg-formulaire {
         .form-control {
            background-color: #ffffff;
            &::-webkit-input-placeholder {
               color: #ffffff;
            }
            &:-moz-placeholder {
               color: #ffffff;
            }
            &::-moz-placeholder {
               color: #ffffff;
            }
            &:-ms-input-placeholder {
               color: #ffffff;
            }
         }
      }
   }
}

@media(max-width: 991px) {
   .header-top {
      .form-group {
         input[type=text] {
            width: 157px;
            background-position: 127px 4px;
            padding: 6px 40px 6px 10px;
         }
      }
      .user-btn {
         margin-top: 5px;
      }
   }
   h3 {
      font-size: 30px;
   }
   .item-list .bg-formulaire h2 {
      padding: 107px 0 74px 74px;
   }
}

@media (min-width: 991px) and (max-width: 1050px) {
   .header-top {
      .logo {
         img {
            width: 405px !important;
         }
      }
      &::after {
         height: 27px;
      }
   }
}

@media (min-width: 768px) and (max-width: 990px) {
   .header-top {
      .logo {
         img {
            width: 405px !important;
         }
      }
      &::after {
         height: 27px;
      }
      .logo-titre {
         margin: 10px auto 30px;
         width: 60%;
      }
   }
   .navbar {
      .nav-menu {
         .nav-link {
            font-size: 13px;
            margin: 0px 5px;
            padding: 0 0 10px;
         }
      }
   }
   section.newsletter h2 {
      font-size: 43px;
   }
   .item-list .bg-abonner ul li {
      font-size: 23px;
   }
   .item-list .bg-abonner p {
      font-size: 17px;
      margin-top: 63px;
      padding-top: 24px;
   }
}
