@media (max-width: 767px) {
   h2 {
      font-size: 25px;
   }
   h3 {
       font-size: 18px !important;
       margin: 0 0 19px !important;
       padding-bottom: 13px !important;
       line-height: 1.28 !important;
       border-bottom: 3px solid #0ba499 !important;
   }
   p {
      font-size: 12px !important;
      margin: 0 0 14px !important;
      line-height: 1.67 !important;
   }
   article.item-view {
       position: relative;
       padding: 15px 20px;
       margin: 0 auto 30px;
   }
   .badge-primary {
      font-size: 15px;
      padding: 7px 10px;
   }
   .content-edit {
      padding: 0 15px;
   }
   .btn {
     white-space: normal;
   }
   .header-top .user-btn {
       margin-top: 0;
   }
   .header-top {
      padding: 35px 15px 0;
      .logo {
         img {
            max-width: 100% !important;
            width: 415px !important;
            margin-top: 20px;
         }
      }
      &::after {
         height: 67px;
      }
      .form-group {
         display: none;
      }
      .logo-titre {
         color: #7f7f7f;
         border-bottom: 1px solid #dbdbdb;
         padding-bottom: 5px;
      }
   }

   .item-list {
      .bg-right {
         .item-more {
             width: 100%;
             max-width: 420px;
             padding: 0;
             margin: 5px auto 0;
             .btn-primary {
                margin-bottom: 66px;
            }
         }
      }
   }
   .item-list-edit {
      .bg-right-edit {
         .item-more {
             margin: 68px auto 0;
             .btn-primary {
                margin-bottom: 53px;
            }
         }
      }
   }
   aside.item-more.text-center img{
      display: none;
   }
   .item-list-edit .bg-right-edit .badge-primary {
       margin: 0 0 45px;
   }
   .navbar {
      margin: 0 !important;
      .nav-menu {
         .nav-link {
            vertical-align: middle;
            width: 100%;
            font-size: 15px;
            font-weight: normal;
            color: #000000;
            border-bottom: solid 4px #000000;
            border-radius: 0;
            margin: 0 auto 15px;
            padding: 5px 0;
            text-align: center;
         }
      }
   }

   section.newsletter {
      h2 {
         margin: 0 0 30px;
         font-family: 'Helvetica Neue';
         font-size: 25px;
         font-weight: 300;
         font-style: normal;
         line-height: normal;
         color: #ffffff;
      }
   }
   .item-list .bg-right .item-view h3 {
      font-size: 18px;
      margin: 0 0 15px;
      padding-bottom: 15px;
   }
   .item-list-edit .bg-right-edit .item-view h3 {
      font-size: 18px;
      margin: 0 0 15px;
      padding-bottom: 15px;
   }
   .item-list-edit .bg-right-edit .badge-primary {
      font-size: 20px;
      padding: 10px 0;
      width: 100%;
      line-height: 1.2;
   }
   .item-list-edit .bg-right-edit .item-more .btn {
     white-space: normal;
   }
   .bloc-link {
      padding: 35px 20px !important;
      margin: 0;
      .p-link {
          line-height: 1.33!important;
          font-size: 15px !important;
      }
      .col-md-6 {
          margin-bottom: 25px;
      }
   }
   section.newsletter {
      text-align: left!important;
      padding: 30px 35px !important;
      h2 {
         margin: 0 0 20px;
      }
      p {
          font-size: 15px !important;
          margin: 0 0 21px !important;
          line-height: normal !important;
      }
      .form-signin {
         margin: 0 auto 75px;
         input.form-control {
            border-radius: 3px;
            height: 60px;
         }
         .input-group-append {
            margin-left: 0;
            width: 100%;
            margin-top: 23px;
         }
         .btn-secondary {
            font-size: 20px;
            margin: 0 auto;
            display: table;
            border-radius: 3px;
            padding: 7px 20px;
         }
      }
   }
   footer h3 {
       border-bottom: none !important;
   }
   #doss {
      .item-doss {
         a {
            font-size: 15px;
         }
      }
   }
   .main-right {
      display: flex!important;
   }
   .item-list {
      .bg-right {
         margin-top: 25px;
      }
   }
   .navbar-toggler {
      color: #f6f6f6;
   }
   main.container {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
   }
   .xs-mod {
      max-width: 10% !important;
   }
   .mod {
      flex: 0 0 80% !important;
      max-width: 80% !important;
   }
   footer .list {
      margin-bottom: 30px;
      border: none;
   }
   .bottom-content {
      padding: 0;
   }
   main.container-fluid .jumbotron .main-left .p-btn-post {
      margin: 25px 0 !important;
   }
   .breadcrumb {
      margin: 0!important;
      margin-bottom: 20px!important;
      padding: 0;
   }
   .main-right {
      margin-top: 35px !important;
   }
   .item-list .bg-right h2 {
       padding-top: 0;
   }
}


/* -------------------------- */

@media (max-width: 608px) {
   .header-top {
      padding: 35px 15px 0;
      .logo {
         img {
            max-width: 100% !important;
            width: 415px !important;
            margin-top: 35px;
         }
      }
      &::after {
         height: 87px;
      }
   }
}

@media (max-width: 575px) {
   .header-top {
      padding: 35px 15px 0;
      .logo {
         img {
            max-width: 100% !important;
            width: 315px !important;
            margin-top: 35px;
         }
      }
      &::after {
         height: 81px;
      }
   }
}

@media (max-width: 435px) {
   .header-top {
      padding: 25px 0 0;
      .logo {
         img {
            max-width: 100% !important;
            width: 230px !important;
            margin-top: 35px;
         }
      }
      &::after {
         height: 95px;
      }
   }
   .xs-mod {
      max-width: 10% !important;
   }
   .navbar-toggler {
      position: absolute;
      top: 0;
      left: 15px;
   }
}

@media (min-width: 353px) and (max-width: 435px) {
   .header-top {
      &::after {
         height: 76px;
      }
   }
}

@media (max-width: 310px) {
   .header-top {
      .user-btn {
         display: none;
      }
   }
}



