@import "compass/css3";

@media (min-width: 1200px) {}

@media (max-width: 1420px) {
   .header-top {
      .logo {
         img {
            width: 715px;
         }
      }
   }
}

@media (min-width: 1200px) and (max-width: 1400px) {
   .header-top {
      .logo {
         img {
            width: 600px;
         }
      }
      &::after {
         height: 39px;
      }
   }
}

@media (min-width: 1200px) and (max-width: 1350px) {
   .header-top {
      .form-group {
         input[type=text] {
            width: 200px !important;
            background-position: 167px 3px;
            padding: 6px 40px 6px 10px;
         }
      }
   }
}
