@import 'compass/css3';
@font-face {
   font-family: 'FontAwesome';
   src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
   src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica';
   src: url('../fonts/Helvetica.woff2') format('woff2'), url('../fonts/Helvetica.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeue-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeueMedium.woff2') format('woff2'), url('../fonts/HelveticaNeueMedium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeueItalic.woff2') format('woff2'), url('../fonts/HelveticaNeueItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-LightItalic.woff2') format('woff2'), url('../fonts/HelveticaNeue-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'), url('../fonts/HelveticaNeue-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-BdIt.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-BdIt.woff') format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-It.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-It.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-MdIt.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-MdIt.woff') format('woff');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Th.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff');
   font-weight: 100;
   font-style: normal;
}

body {
   background-color: #ffffff;
   color: #535456;
   margin: 0;
   font-family: 'Helvetica Neue';
   font-weight: normal;
   font-style: normal;
}

.left {
   float: left !important;
}

.right {
   float: right !important;
}

.clear {
   clear: both;
}

h1 {
   margin: 0 0 25px;
}

h2 {
   margin: 0 0 30px;
   font-size: 35px;
   font-weight: 300;
   color: #009d93;
   &.title-section {
      margin: 0 0 21px;
      font-size: 30px;
      line-height: normal;
   }
   &.h2-sim {
      margin-bottom: 55px;
   }
   &.font30 {
      font-size: 30px;
   }
   &.price {
      font-size: 80px;
      font-family: 'Helvetica Neue LT Std';
      font-weight: 900;
      line-height: normal;
      color: #ffffff;
      border-bottom: solid 1px #ffffff;
      margin: 0 auto 35px;
      display: table;
      padding-bottom: 28px;
   }
}

h3 {
   font-size: 40px;
   font-family: 'Helvetica Neue LT Std';
   font-weight: 900;
   color: #000000;
   line-height: 1.3;
   margin: 0 0 25px;
}

p {
   margin: 0 0 25px;
   font-family: 'Helvetica Neue';
   font-size: 17px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.41;
   color: #000000;
}

.badge {
   white-space: normal;
}

.clear {
   clear: both;
}

.big-content {
   position: relative;
   z-index: 2;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1235px;
   position: relative;
   z-index: 2;
}

.container-fluid {
   position: relative;
   z-index: 2;
}

.badge-primary {
   background-color: #0ba499;
   color: #ffffff;
   font-family: 'Helvetica Neue LT Std';
   font-weight: 900;
   font-size: 23px;
   text-transform: uppercase;
   border-radius: 0;
   padding: 10px;
   margin-bottom: 16px;
}

aside.more {
   margin: 55px auto 120px;
   .btn-primary {
      color: #fff;
      border-radius: 4px;
      background-color: #009d93;
      border-color: transparent;
      font-size: 20px;
      font-weight: normal;
      padding: 5px 33px;
   }
}

aside.search-btn {
   margin: 38px auto 137px;
}

.header-top {
   position: relative;
   background-color: #00a499;
   padding: 50px 15px 0;
   .container-fluid {
      position: relative;
      max-width: 1235px;
   }
   &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 39px;
      background-color: #fff;
   }
   .couv-top {
      margin: 5px 0 -13px;
   }
   .letter {
      .alert-link {
         color: #00a499;
         white-space: nowrap;
         font-size: 11px;
         font-weight: bold;
         margin-top: 11px;
      }
   }
   .logo-titre {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0px;
      margin: 20px 0 24px;
   }

   .form-group {
      margin: 10;
      input[type=text] {
         width: 235px;
         box-sizing: border-box;
         border-radius: 0;
         background-color: #00a499;
         border: solid 0.5px transparent;
         font-size: 14px;
         background-image: url(../images/search-icon.png);
         background-position: 200px 4px;
         padding: 6px 40px 6px 10px;
         background-repeat: no-repeat;
         color: #ffffff;
         box-shadow: none;
         border-bottom: 1px solid #ffffff;
         &::-webkit-input-placeholder {
            color: #ffffff;
         }
      }
   }
   .mod {
       padding-left: 0;
   }
}

.navbar {
   padding: 0;
   margin: 43px 0 0;
   .nav-menu {
      width: 100%;
      .nav-link {
         vertical-align: middle;
         width: 1%;
         font-size: 15px;
         font-weight: normal;
         color: #000000;
         border-bottom: solid 6px #000000;
         border-radius: 0;
         margin: 0 8px;
         padding: 0 0 15px;
         line-height: 1.3;
         text-align: center;
         &:hover {
            color: #009d93;
            font-weight: bold;
            border-bottom: solid 6px #00a499;
         }
      }
   }
}


/* modal menu-xs */

.btn-modal {
   background-color: #00a499;
   border-color: #00a499;
   padding: 0;
   color: #f6f6f6;
   i.fa {
      font-size: 20px;
   }
   &:hover,
   &:focus,
   &:active {
      background-color: #00a499 !important;
      border-color: #00a499 !important;
      padding: 0 !important;
      color: #f6f6f6 !important;
   }
}

.modal {
   .modal-content {
      position: relative;
      background-color: #f6f6f6;
      border-radius: 0;
      .modal-header {
         display: block;
         position: relative;
         border-bottom: none;
         .close {
            padding: 0;
            margin: 5px 5px 25px;
            float: left;
            span {
               font-size: 25px;
               color: #00a499;
               text-shadow: none;
            }
         }
         input.form-control {
            border: none;
            border-bottom: solid 2px #00a499;
            border-radius: 0;
            padding: 9px 0;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            line-height: normal;
            color: #000000;
            background-color: #f6f6f6;
            &::-webkit-input-placeholder {
               background-image: url(../images/search-icon-mobile.png);
               background-repeat: no-repeat;
            }
            &:-moz-placeholder {
               background-image: url(../images/search-icon-mobile.png);
               background-repeat: no-repeat;
            }
            &::-moz-placeholder {
               background-image: url(../images/search-icon-mobile.png);
               background-repeat: no-repeat;
            }
            &:-ms-input-placeholder {
               background-image: url(../images/search-icon-mobile.png);
               background-repeat: no-repeat;
            }
         }
      }
      .modal-body {
         display: block;
         position: relative;
         .menu-xs {
            margin: 0 !important;
            .link {
               border-bottom: none;
               width: 100%;
               display: block;
               border-radius: 0;
               margin: 0 auto 27px;
               padding: 0 20px;
               text-align: left;
               font-size: 14px;
               line-height: normal;
               text-transform: uppercase;
               font-weight: 900;
               font-family: 'Helvetica Neue LT Std';
               &:hover {
                  border-bottom: none;
               }
               &#Editorial {
                  color: #0ba499;
               }
               &#Tarification {
                  color: #3a6b96;
               }
               &#Commande {
                  color: #816f5c;
               }
               &#Marches {
                  color: #0080bb;
               }
               &#Gestion {
                  color: #327b5b;
               }
               &#Performance {
                  color: #8c454e;
               }
               &#Analyse {
                  color: #758141;
               }
               &#Budget {
                  color: #466c91;
               }
               &#Juridique {
                  color: #684f57;
               }
               &#Veille {
                  color: #0ba499;
               }
            }
         }
      }
      .modal-footer {
         display: block;
         position: relative;
         ul {
            li {
               padding: 5px 20px;
               a {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: normal;
                  color: #0ba499;
               }
            }
         }
      }
   }
}


/* modal menu-xs */

.breadcrumb {
   background-color: #ffffff;
   padding: 0;
   margin: 88px 0 62px;
   li {
      color: #7f7f7f;
      font-size: 13px;
      a {
         color: #7f7f7f;
         font-size: 13px;
      }
   }
   .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: ">";
   }
   &.breadcrumb-search {
      margin: 92px 0 22px;
   }
}

.esp-120 {
   margin: 0 -30px;
   >* {
      padding: 0 30px;
   }
}

.jumbotron {
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   border-radius: 0;
   margin-bottom: 45px;
   &.jumbo-rub {
      margin-bottom: 0;
   }
   p {
      max-width: 684px;
   }
   .main-left {
      h3 {
         border-bottom: 5px solid #0ba499;
         padding-bottom: 20px;
         line-height: 1;
         &.item-h3 {
            margin: 0 0 15px;
         }
      }
      .btn-post {
         font-size: 13px;
         font-weight: bold;
         font-style: normal;
         color: #000000;
      }
   }
}

.mt-rub {
   margin-top: 40px;
}

.btn-ajout {
   background-color: #f4f4f4;
   border: solid 1px #e1e1e1;
   color: #a6a6a6;
   padding: 5px 15px;
   border-radius: 3px;
   margin-bottom: 6px;
   &:hover {
      background-color: #f4f4f4;
      border: solid 1px #e1e1e1;
      color: #a6a6a6;
   }
}

.jumbo-rub {
   .item-view {
      &::before {
         z-index: 0;
      }
   }
}

article.item-view {
   position: relative;
   padding: 20px 20px 30px;
   margin: 0 auto 60px;
   &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      border: solid 1px #e1e1e1;
      z-index: -1;
   }
   &::after {
      content: "\f02e";
      font-family: 'FontAwesome';
      right: 15px;
      position: absolute;
      top: -8px;
      color: #a6a6a6;
      font-size: 25px;
   }
   &:hover {
      position: relative;
      &::after {
         content: "\f02e";
         font-family: 'FontAwesome';
         right: 15px;
         position: absolute;
         top: -8px;
         color: #0ba499;
         font-size: 25px;
      }
   }
   h3 {
      font-size: 25px;
      font-family: 'Helvetica Neue LT Std';
      font-weight: 900;
      color: #000000;
      line-height: 1.3;
      margin: 0 15px 15px 0;
      border-bottom: 4px solid #0ba499;
      padding-bottom: 15px;
      a {
         color: inherit;
         text-decoration: none;
      }
   }
   .blog-post-meta {
      font-family: 'Helvetica Neue';
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      color: #a6a6a6;
      margin: 0 0 15px;
      a {
         color: inherit;
      }
   }
   .btn-post {
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      color: #000000;
   }
}

article.view-article {
   h3 {
      font-size: 21px;
      margin: 0 0 20px;
      padding-bottom: 15px;
   }
   p {
      font-size: 16px;
      margin: 0 0 15px;
   }
}

.blog-post-meta {
   font-family: 'Helvetica Neue';
   font-size: 15px;
   font-weight: normal;
   font-style: italic;
   color: #a6a6a6;
   a {
      color: inherit;
   }
}

#doss {
   .col-6 {
      margin-bottom: 35px;
   }
   .item-doss {
       border-radius: 3px;
       background-color: #f4f4f4;
       color: #000000;
       position: relative;
       text-align: center;
       width: 99%;
       height: 100%;
       padding: 60px 15px;
       vertical-align: middle;
       display: flex;
       margin: 0 auto;
       align-self: center !important;
      &:before {
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         background-color: #f4f4f4;
         @include filter(blur(1px));
         border: solid 1px #e1e1e1;
      }
      &:hover {
         &:before {
            border-color: #0ba499;
         }
      }
      a {
          position: relative;
          z-index: 1;
          font-size: 24px;
          font-weight: 900;
          font-style: normal;
          text-align: center;
          color: #000000;
          font-family: 'Helvetica Neue LT Std';
          line-height: 1.1;
         &:hover {
            color: #0ba499;
            text-decoration: none;
         }
      }
   }
}

.overflow-hidden {
   overflow: hidden;
}

.item-list {
   .bg-abonner {
      padding-right: 35px;
      &::before {
         z-index: -1 !important;
      }
      h2 {
         small {
            font-size: 30px;
            font-weight: 300;
            color: #ffffff;
            top: -45px;
            position: relative;
            left: 10px;
         }
      }
      span {
         font-size: 20px;
         font-weight: 300;
         color: #ffffff;
      }
      ul {
         li {
            font-size: 25px;
            font-weight: normal;
            line-height: 1.08;
            color: #f6f6f6;
            b {
               font-weight: bold;
            }
         }
      }
      p {
         font-size: 20px;
         line-height: 1.35;
         color: #f6f6f6;
         margin-left: 0;
         z-index: 2;
         text-align: left;
         border-top: solid 4px #f4f4f4;
         margin-top: 69px;
         padding-top: 28px;
         em {
            font-style: italic;
         }
      }
      a.btn-primary {
         margin: 55px auto 73px;
         width: 147.3px;
         height: 41.8px;
         border-radius: 3px;
         background-color: #ffffff;
         border: solid 2px #ffffff;
         font-size: 15px;
         font-weight: bold;
         text-align: center;
         color: #00a499;
      }
   }
   .bg-left {
      background-color: #0ba499;
      height: 100%;
      padding-top: 100px;
      position: relative;
      &:before {
         content: "";
         position: absolute;
         left: -99%;
         top: 0;
         bottom: 0;
         width: 100%;
         background-color: #0ba499;
         z-index: 0;
      }
      .list-group {
         .list-group-item {
            position: relative;
            display: block;
            padding: 0 0 12px;
            margin-bottom: 22px;
            background-color: transparent;
            font-weight: 900;
            font-style: normal;
            font-family: 'Helvetica Neue LT Std';
            color: #54bfb7;
            border: none;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            font-size: 27px;
            text-align: left;
            &:hover {
               color: #ffffff;
               border-bottom: 1px solid #ffffff;
               border-radius: 0;
            }
         }
      }
   }
   .bg-right {
      h2 {
         padding-top: 84px;
      }
      .item-more {
         width: 100%;
         max-width: 420px;
         padding: 0;
         margin: 5px auto 111px;
         .btn-primary {
            border-radius: 4px;
            background-color: #009d93;
            border-color: transparent;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 95px;
            padding: 10px 50px;
         }
      }
   }
}

.bg-formulaire {
   position: relative;
   .col-form-label {
      text-align: right;
      font-size: 15px;
      color: #000000;
   }
   .form-control {
      border-radius: 3px;
      border: solid 1px #0ba499;
      background-color: #f6f6f6;
      &::-webkit-input-placeholder {
         color: #f6f6f6;
      }
      &:-moz-placeholder {
         color: #f6f6f6;
      }
      &::-moz-placeholder {
         color: #f6f6f6;
      }
      &:-ms-input-placeholder {
         color: #f6f6f6;
      }
   }
   h2 {
      font-size: 18px;
      font-weight: normal;
      line-height: normal;
      color: #000000;
      margin: 0;
      text-align: center;
      padding: 107px 0 74px;
   }
   span {
      font-size: 15px;
      font-weight: bold;
      color: #000000;
   }
   .captcha {
      max-width: 228px;
      height: 77px;
      border-radius: 3px;
      background-color: rgba(11, 164, 153, 0.52);
      margin: 13px 0 79px;
   }
   .btn-primary {
      color: #fff;
      border-color: #009d93;
      display: table;
      margin: 47px auto 0;
      width: 143px;
      height: 42px;
      border-radius: 3px;
      background-color: #009d93;
      white-space: normal;
      &.btn-modif {
         margin: 58px auto 90px;
      }
   }
   p {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #00a499;
      border-top: 3px solid #00a499;
      margin: 60px 0 160px;
      padding-top: 10px;
      b {
         color: #000000;
         font-weight: normal;
      }
   }
}

.bg-form {
   position: relative;
   &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #f6f6f6;
      left: 0;
      right: 0;
   }
}

.bloc-form-edit {
   margin-bottom: 25px;
   border-bottom: solid 1px #d7d7d7;
   padding-bottom: 53px;
}

.form-edit {
   position: relative;
   margin-top: 37px;
   .col-form-label {
      text-align: right;
      font-size: 15px;
      color: #000000;
   }
   .form-control {
      border-radius: 3px;
      border: solid 1px #0ba499;
      background-color: #ffffff;
      &::-webkit-input-placeholder {
         color: #000000;
      }
      &:-moz-placeholder {
         color: #000000;
      }
      &::-moz-placeholder {
         color: #000000;
      }
      &:-ms-input-placeholder {
         color: #000000;
      }
   }
   .btn-primary {
      color: #fff;
      border-color: #009d93;
      display: table;
      margin: 47px auto 0;
      width: 143px;
      height: 42px;
      border-radius: 3px;
      background-color: #009d93;
      white-space: normal;
   }
}

.bloc-form-info {
   .bg-formulaire {
      .form-control {
         background-color: #ffffff;
         &::-webkit-input-placeholder {
            color: #ffffff;
         }
         &:-moz-placeholder {
            color: #ffffff;
         }
         &::-moz-placeholder {
            color: #ffffff;
         }
         &:-ms-input-placeholder {
            color: #ffffff;
         }
      }
   }
}

.item-list-edit {
   .bg-left-edit {
      background-color: #3a6b96;
      &::before {
         background-color: #3a6b96;
      }
      .list-group {
         .list-group-item {
            color: #7496b4;
            border-bottom: 1px solid transparent;
            &:hover {
               background-color: transparent;
               border: none;
               color: #ffffff;
               border-bottom: 1px solid #acc0d2;
            }
         }
      }
   }
   .bg-right-edit {
      .badge-primary {
         background-color: #3a6b96;
         color: #ffffff;
         font-family: 'Helvetica Neue LT Std';
         font-weight: 900;
         font-size: 23px;
         text-transform: uppercase;
         border-radius: 0;
         margin: 100px 0 50px;

      }
      .item-view {
         h3 {
            border-bottom: 4px solid #3a6b96;
         }
         &:hover {
            &::after {
               color: #3a6b96 !important;
            }
         }
      }
      .item-more {
         width: 100%;
         max-width: 420px;
         padding: 0;
         margin: auto;
         .btn-primary {
            border-radius: 4px;
            background-color: #3a6b96;
            border-color: transparent;
            font-size: 17px;
            font-weight: normal;
            margin-bottom: 300px;
         }
      }
   }
}

.bloc-link {
   background-color: #f6f6f6;
   padding: 47px 0 60px;
   h2 {
      margin: 0 0 47px;
   }
   .p-link {
      list-style-type: none;
      display: list-item;
      font-size: 16px;
      font-family: 'Helvetica Neue LT Std';
      font-weight: 900;
      color: #000000;
      line-height: 1.56;
      &::before {
         content: '\2022';
         color: #0ba499;
         padding-right: 0.5em;
      }
   }
}

section.newsletter {
   background-color: #00a499;
   position: relative;
   padding: 60px 0 68px;
   &.news-rub {
      margin-top: 26px;
      margin-bottom: 62px;
   }
   h2 {
      margin: 0 0 19px;
      font-family: 'Helvetica Neue';
      font-size: 49px;
      font-weight: 300;
      font-style: normal;
      line-height: normal;
      color: #ffffff;
   }
   p {
      color: #ffffff;
      margin: 0 0 37px;
   }
   .form-signin {
      width: 100%;
      max-width: 485px;
      padding: 0;
      margin: auto;
      .input-group {
         height: 50px;
      }
      .btn-secondary {
         color: #00a499;
         background-color: #ffffff;
         border-color: #ffffff;
         font-size: 15px;
         font-weight: bold;
      }
      input.form-control {
         color: #ffffff;
         background-color: #00a499;
         border: 2px solid #ffffff;
         border-left: none;
         &::-webkit-input-placeholder {
            color: #ffffff;
         }
         &:-moz-placeholder {
            color: #ffffff;
         }
         &::-moz-placeholder {
            color: #ffffff;
         }
         &:-ms-input-placeholder {
            color: #ffffff;
         }
      }
      .input-group-text {
         font-size: 1.5rem;
         color: #ffffff;
         background-color: #00a499;
         border: 2px solid #ffffff;
         border-right: none;
      }
   }
}

footer.bloc {
   border-top: 5px solid #00a499;
}

footer {
   padding: 60px 0 35px;
   background-color: #f6f6f6;
   h3 {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      color: #000000;
      text-transform: uppercase;
      margin: 0 0 35px;
   }
   .list {
      ul {
         li {
            a {
               font-size: 15px;
               font-weight: normal;
               font-style: normal;
               color: #000000;
               &:hover {
                  text-decoration: none;
                  font-weight: bold;
               }
            }
         }
      }
   }
   .list-1 {
      border-right: 1px solid #dbdbdb;
      ul {
         li {
            list-style-type: disc;
         }
      }
   }
   .list-2 {
      border-right: 1px solid #dbdbdb;
      padding-left: 35px;
      ul {
         li {
            margin-bottom: 10px;
         }
      }
   }
   .list-3 {
      padding-left: 35px;
      ul {
         li {
            margin-bottom: 10px;
         }
      }
   }
}

.bd-sidebar {
   margin-top: 235px;
   padding-left: 0;
   ol {
      li {
         border-bottom: solid 1px #c7c7c7;
         width: 63px;
         height: 67px;
      }
   }
}

.bd-content {
   max-width: 1086px;
   article.item-view {
      position: relative;
      padding: 0;
      margin: 0;
      &::before {
         display: none;
      }
      &::after {
         display: none;
      }
      h3 {
         font-size: 32px;
         font-family: 'Helvetica Neue LT Std';
         font-weight: 900;
         color: #000000;
         line-height: 1.3;
         margin: 21px 0 28px;
         border-bottom: 4px solid #0ba499;
         padding-bottom: 15px;
      }
      address {
         font-size: 18px;
         font-weight: normal;
         font-style: normal;
         line-height: 1.44;
         color: #a6a6a6;
         margin: 0;
         a {
            font-weight: 500;
            color: #a6a6a6;
         }
      }
      h4 {
         font-size: 20px;
         font-weight: bold;
         font-style: normal;
         line-height: 1.75;
         color: #000000;
         margin: 24px 0 57px;
      }
      .pub-fiche {
         float: right;
         overflow: hidden;
         z-index: 2;
         position: relative;
         margin-bottom: 25px;
         margin-left: 25px;
         margin-top: 46px;
      }
      .para-fiche {
         position: relative;
         max-width: 812px;
         margin-bottom: 80px;
         p {
            margin: 0 0 25px;
            font-family: 'Helvetica Neue';
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.75;
            letter-spacing: normal;
            color: #000000;
            .number {
               color: #00a499;
            }
            &.bottom-p {
               font-size: 15px;
               font-weight: normal;
               font-style: normal;
               line-height: 1.67;
               color: #00a499;
               margin: 98px 0 19px;
               border-top: 3px solid #00a499;
               padding-top: 10px;
            }
         }
         h5 {
            font-size: 23px;
            font-weight: bold;
            line-height: 1.52;
            color: #00a499;
            margin: 0;
         }
         .baniere-web {
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            line-height: normal;
            text-align: center;
            color: #ffffff;
            max-width: 768px;
            height: 90px;
            background-color: #0ba499;
            vertical-align: middle;
            padding: 15px 0;
         }
      }
   }
}

.box-search {
   padding: 61px 0 18px;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-filter: blur(1px);
      filter: blur(1px);
      border: solid 1px #e1e1e1;
      background-color: #f4f4f4;
      z-index: 0;
   }
   .form-group {
      margin-bottom: 45px;
      .form-control {
         border-radius: 3px;
         border: solid 1px #0ba499;
         font-size: 15px;
         color: #000000;
         background-color: transparent;
      }
   }
   label.col-form-label {
      font-size: 15px;
      font-weight: bold;
      color: #0ba499;
   }
}

.box-keyword {
   width: 100%;
   max-width: 576px;
   margin: 50px auto 60px;
   padding: 0;
   input.form-control {
      border: none;
      border-bottom: solid 2px #00a499;
      border-radius: 0;
      padding: 9px 0;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      line-height: normal;
      color: #000000;
      &::-webkit-input-placeholder {
         color: #000000;
      }
      &:-moz-placeholder {
         color: #000000;
      }
      &::-moz-placeholder {
         color: #000000;
      }
      &:-ms-input-placeholder {
         color: #000000;
      }
   }
}

.box-result {
   position: relative;
   margin: 54px 0 0;
   p {
      font-size: 18px;
      line-height: 1.44;
      color: #0ba499;
      margin: 0 0 13px;
   }
   .table {
      border-top: solid 2px #0ba499;
      thead {
         td,
         th {
            vertical-align: bottom;
            border-bottom: solid 4px #f4f4f4;
            border-top: none;
            font-size: 20px;
            color: #000000;
            font-weight: normal;
            line-height: normal;
         }
      }
      td,
      th {
         font-size: 20px;
         color: #000000;
         font-weight: normal;
         line-height: normal;
      }
      .tbold {
         font-weight: bold;
      }
   }
}

.p-table {
   font-size: 18px;
   line-height: 1.44;
   color: #0ba499;
   margin: 54px 0 13px;
}

.bloc-table {
   position: relative;
   margin: 54px 0 116px;
   border-top: solid 2px #0ba499;
   &.table1 {
      margin: 0 0 0;
   }
   .top-a {
      border-bottom: solid 4px #f4f4f4;
      padding-top: 15px;
      padding-bottom: 15px;
   }
   .top-b {
      padding-top: 15px;
   }
   .top-c {
      padding-top: 15px;
      border-top: solid 4px #f4f4f4;
      margin-top: 15px;
   }
   b {
      font-size: 20px;
      color: #000000;
      font-weight: normal;
   }
   ul {
      li {
         font-size: 20px;
         color: #000000;
         font-weight: normal;
      }
   }
   small.text-right {
      font-size: 21px;
      line-height: 1.29;
      color: #000000;
      a {
         font-weight: bold;
         color: #0ba499;
         margin-left: 20px;
      }
   }
}

.box-formation {
   margin: 73px 0 0;
   .table td,
   .table th {
      border-top: solid 4px #f4f4f4;
   }
   .container {
      max-width: 1241px;
   }
   tbody {
      td {
         padding: 18px 35px 35px;
      }
   }
   thead {
      th {
         padding: 12px 35px 17px;
      }
   }
   small.text-right {
      margin-bottom: 116px;
   }
}

.box-emploi {
   margin: 42px 0 0;
   ul {
      margin-top: 1rem;
   }
}

.form-group {
   select {
      width: 100%;
      height: 100%;
      border: none;
      background: url("../images/index.png");
      background-position: right center;
      background-color: transparent;
      background-repeat: no-repeat;
      filter: none;
   }
}

@import "_lg";
@import "_md";
@import "_sm";
@import "_xs";
