@font-face {
   font-family: 'FontAwesome';
   src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
   src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica';
   src: url('../fonts/Helvetica.woff2') format('woff2'), url('../fonts/Helvetica.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeue-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeueMedium.woff2') format('woff2'), url('../fonts/HelveticaNeueMedium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeueItalic.woff2') format('woff2'), url('../fonts/HelveticaNeueItalic.woff') format('woff');
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-LightItalic.woff2') format('woff2'), url('../fonts/HelveticaNeue-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'), url('../fonts/HelveticaNeue-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'), url('../fonts/HelveticaNeue-BoldItalic.woff') format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-BdIt.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-BdIt.woff') format('woff');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'), url('../fonts/HelveticaNeue-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-It.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-It.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-MdIt.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-MdIt.woff') format('woff');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'Helvetica Neue LT Std';
   src: url('../fonts/HelveticaNeueLTStd-Th.woff2') format('woff2'), url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff');
   font-weight: 100;
   font-style: normal;
}

body {
   background-color: #ffffff;
   color: #535456;
   margin: 0;
   font-family: 'Helvetica Neue';
   font-weight: normal;
   font-style: normal;
}

.left {
   float: left !important;
}

.right {
   float: right !important;
}

.clear {
   clear: both;
}

h1 {
   margin: 0 0 25px;
}

h2 {
   margin: 0 0 30px;
   font-family: 'Helvetica Neue';
   font-size: 37px;
   font-weight: 300;
   color: #009d93;
}

h3 {
   font-size: 40px;
   font-family: 'Helvetica Neue LT Std';
   font-weight: 900;
   color: #000000;
   line-height: 1.3;
   margin: 0 0 25px;
}

p {
   margin: 0 0 25px;
   font-size: 17px;
   font-weight: normal;
   color: #000000;
   line-height: 1.7;
}

.badge {
   white-space: normal;
}

.clear {
   clear: both;
}

.content-edit {
   max-width: 1435px;
}

.big-content {
   position: relative;
   z-index: 2;
   margin: 0;
   padding: 0;
}

.container {
   max-width: 1235px;
   position: relative;
   z-index: 2;
}

.container-fluid {
   position: relative;
   z-index: 2;
}

.badge-primary {
   background-color: #0ba499;
   color: #ffffff;
   font-family: 'Helvetica Neue LT Std';
   font-weight: 900;
   font-size: 23px;
   text-transform: uppercase;
   border-radius: 0;
}

aside.more {
   .btn-primary {
      color: #fff;
      border-radius: 4px;
      background-color: #009d93;
      border-color: transparent;
      font-size: 17px;
      font-weight: normal;
      padding: 0.5rem 3rem;
   }
}

.header-top {
   position: relative;
   background-color: #00a499;
   padding: 50px 15px 0;
   &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 47px;
      background-color: #fff;
   }
   .letter {
      .alert-link {
         color: #00a499;
         white-space: nowrap;
         font-size: 11px;
         font-weight: bold;
      }
   }
   .logo-titre {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0px;
      margin: 20px 0 24px;
   }
   .logo {
      position: relative;
      img {
         width: 727px;
      }
   }
   .form-group {
      margin: 10;
      input[type=text] {
         width: 235px;
         box-sizing: border-box;
         border-radius: 0;
         background-color: #00a499;
         border: solid 0.5px transparent;
         font-size: 14px;
         background-image: url(../images/search-icon.png);
         background-position: 200px 4px;
         padding: 6px 40px 6px 10px;
         background-repeat: no-repeat;
         color: #ffffff;
         box-shadow: none;
         border-bottom: 1px solid #ffffff;
         &::-webkit-input-placeholder {
            color: #ffffff;
         }
      }
   }
}

.navbar {
   .nav-menu {
      width: 100%;
      .nav-link {
         vertical-align: middle;
         width: 1%;
         font-size: 15px;
         font-weight: normal;
         color: #000000;
         border-bottom: solid 4px #000000;
         border-radius: 0;
         margin: 0 3px;
         padding: 0 0 15px;
         &:hover {
            color: #009d93;
            font-weight: bold;
            border-bottom: solid 4px #00a499;
            font-size: 15px;
         }
      }
   }
}

.breadcrumb {
   background-color: #ffffff;
   li {
      a {
         color: #7f7f7f;
         font-size: 13px;
      }
   }
   .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: ">";
   }
}

.jumbotron {
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   border-radius: 0;
   .main-left {
      h3 {
         border-bottom: 5px solid #0ba499;
         padding-bottom: 20px;
      }
      .btn-post {
         font-size: 13px;
         font-weight: bold;
         font-style: normal;
         color: #000000;
      }
   }
}

article.item-view {
   border: solid 1px #e1e1e1;
   position: relative;
   -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
   &::before {
      content: "\f02e";
      font-family: 'FontAwesome';
      right: 15px;
      position: absolute;
      top: -8px;
      color: #a6a6a6;
      font-size: 25px;
      &:hover {
         color: red;
         background-color: yellow;
      }
   }
   h3 {
      font-size: 25px;
      font-family: 'Helvetica Neue LT Std';
      font-weight: 900;
      color: #000000;
      line-height: 1.3;
      margin: 0 0 25px;
      border-bottom: 4px solid #0ba499;
      padding-bottom: 20px;
      a {
         color: inherit;
         text-decoration: none;
      }
   }
   .blog-post-meta {
      font-family: 'Helvetica Neue';
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      color: #a6a6a6;
      a {
         color: inherit;
      }
   }
   .btn-post {
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      color: #000000;
   }
}

article.view-article {
   h3 {
      font-size: 21px;
      margin: 0 0 20px;
      padding-bottom: 15px;
   }
   p {
      font-size: 16px;
      margin: 0 0 15px;
   }
}

.blog-post-meta {
   font-family: 'Helvetica Neue';
   font-size: 15px;
   font-weight: normal;
   font-style: italic;
   color: #a6a6a6;
   a {
      color: inherit;
   }
}

#doss {
   .item-doss {
      border-radius: 3px;
      border: solid 1px #e1e1e1;
      background-color: #f4f4f4;
      color: #000000;
      margin: 1.0rem!important;
      &:hover {
         border: solid 1px #0ba499;
         background-color: #f4f4f4;
      }
      a {
         position: relative;
         font-size: 23px;
         font-weight: 900;
         font-style: normal;
         text-align: center;
         color: #000000;
         font-family: 'Helvetica Neue LT Std';
         line-height: 1.3;
         padding: 50px 25px;
         &:hover {
            color: #0ba499;
            text-decoration: none;
         }
      }
   }
}

.item-list {
   .bg-left {
      flex: 1;
      background-color: #0ba499;
      .list-group {
         .list-group-item {
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            background-color: transparent;
            font-weight: 900;
            font-style: normal;
            font-family: 'Helvetica Neue LT Std';
            color: #54bfb7;
            border: none;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            font-size: 21px;
            text-align: left;
            &:hover {
               background-color: transparent;
               border: none;
               color: #ffffff;
               border-bottom: 1px solid #7ecec7;
            }
         }
      }
   }
   .bg-right {
      flex: 2;
      .item-more {
         width: 100%;
         max-width: 420px;
         padding: 15px;
         margin: auto;
         .btn-primary {
            border-radius: 4px;
            background-color: #009d93;
            border-color: transparent;
            font-size: 17px;
            font-weight: normal;
         }
      }
   }
}

.item-list-edit {
   .bg-left-edit {
      flex: 1;
      background-color: #3a6b96;
      .list-group {
         .list-group-item {
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            margin-bottom: -1px;
            background-color: transparent;
            font-weight: 900;
            font-style: normal;
            font-family: 'Helvetica Neue LT Std';
            color: #7496b4;
            border: none;
            text-transform: uppercase;
            border-bottom: 1px solid transparent;
            font-size: 21px;
            text-align: left;
            &:hover {
               background-color: transparent;
               border: none;
               color: #ffffff;
               border-bottom: 1px solid #acc0d2;
            }
         }
      }
   }
   .bg-right-edit {
      flex: 2;
      .badge-primary {
         background-color: #3a6b96;
         color: #ffffff;
         font-family: 'Helvetica Neue LT Std';
         font-weight: 900;
         font-size: 23px;
         text-transform: uppercase;
         border-radius: 0;
      }
      .item-view {
         h3 {
            border-bottom: 4px solid #3a6b96;
         }
      }
      .item-more {
         width: 100%;
         max-width: 420px;
         padding: 15px;
         margin: auto;
         .btn-primary {
            border-radius: 4px;
            background-color: #3a6b96;
            border-color: transparent;
            font-size: 17px;
            font-weight: normal;
         }
      }
   }
}

.bloc-link {
   background-color: #f6f6f6;
   .p-link {
      list-style-type: none;
      display: list-item;
      font-size: 16px;
      font-family: 'Helvetica Neue LT Std';
      font-weight: 900;
      color: #000000;
      &::before {
         content: '\2022';
         color: #0ba499;
         padding-right: 0.5em;
      }
   }
}

section.newsletter {
   background-color: #00a499;
   position: relative;
   h2 {
      margin: 0 0 30px;
      font-family: 'Helvetica Neue';
      font-size: 49px;
      font-weight: 300;
      font-style: normal;
      line-height: normal;
      color: #ffffff;
   }
   p {
      color: #ffffff;
   }
   .form-signin {
      width: 100%;
      max-width: 450px;
      padding: 15px;
      margin: auto;
      .input-group {
         height: 50px;
      }
      .btn-secondary {
         color: #00a499;
         background-color: #ffffff;
         border-color: #ffffff;
         font-size: 15px;
         font-weight: bold;
      }
      input.form-control {
         color: #ffffff;
         background-color: #00a499;
         border: 2px solid #ffffff;
         border-left: none;
         &::-webkit-input-placeholder {
            color: #ffffff;
         }
         &:-moz-placeholder {
            color: #ffffff;
         }
         &::-moz-placeholder {
            color: #ffffff;
         }
         &:-ms-input-placeholder {
            color: #ffffff;
         }
      }
      .input-group-text {
         font-size: 1.5rem;
         color: #ffffff;
         background-color: #00a499;
         border: 2px solid #ffffff;
         border-right: none;
      }
   }
}

footer.bloc {
   border-top: 5px solid #00a499;
}

footer {
   background-color: #f6f6f6;
   h3 {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      color: #000000;
      text-transform: uppercase;
   }
   .list {
      ul {
         li {
            a {
               font-size: 15px;
               font-weight: normal;
               font-style: normal;
               color: #000000;
               &:hover {
                  text-decoration: none;
                  font-weight: bold;
                  font-size: 14px;
               }
            }
         }
      }
   }
   .list-1 {
      border-right: 1px solid #dbdbdb;
      ul {
         li {
            list-style-type: disc;
         }
      }
   }
   .list-2 {
      border-right: 1px solid #dbdbdb;
      padding-left: 35px;
      ul {
         li {
            margin-bottom: 10px;
         }
      }
   }
   .list-3 {
      padding-left: 35px;
      ul {
         li {
            margin-bottom: 10px;
         }
      }
   }
}

@import "lg";
@import "md";
@import "sm";
@import "xs";
